# Backups
*.*~
*.000
*.bak
-cache.lib

# Compiled stuff
*.elf
*.lst
*.hex
*.eep

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# LTSpice temporary files
*.raw
*.plt
*.fft
*.log


